@font-face {
    font-family: 'Inconsolata Regular';
    src: url(assets/fonts/static/Inconsolata-Regular.ttf);
}

body {
    background-image: url(assets/images/background-desktop.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Inconsolata Regular', sans-serif;
    height: 100vh;
    overflow: hidden;
}

.main-div, .congratulations {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
}

header {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 8px;
}

header div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 0.7em;
}

header div img {
    width: 20px;
}

h1, h2 {
    text-align: center;
}

h1 {
    margin-top: 0;
}

main h2 {
    font-size: 1.1em;
    font-weight: 100;
    margin-top: 0;
}

h3 {
    margin-bottom: 0px;
    color: lightgray;
}

.form-div-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.upload-avatar-div {
    border: 1px dashed lightgray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-size: 0.8em;
    background-color: rgba(76, 0, 53, 0.2);
}

.icon-upload-div img {
    width: 30px;
}

.icon-upload-div {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.uploaded-photo {
    border-radius: 10px;
    width: 40px;
}

.footer-upload-avatar-div {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.footer-upload-avatar-div.photo-uploaded {
    margin-top: 15px;
}

.footer-upload-avatar-div button, .footer-upload-avatar-div input {
    background-color: #312d4e;
    color: white;
    font-weight: 100;
    font-size: 0.8em;
    width: 100px;
    height: 25px;
    border-radius: 5px;
}

.footer-upload-avatar-div button:hover {
    background-color: #312d4e;
}

input, button {
    height: 40px;
    outline: none;
    border-radius: 8px;
    box-sizing: border-box;
}

input {
    border: 1px solid gray;
    background-color: transparent;
    padding-left: 10px;
    color: white;
    background-color: rgba(76, 0, 53, 0.1);
}

input::placeholder {  
    font-family: 'Inconsolata Regular', sans-serif;
    color: lightgray;
}

input:hover, .upload-avatar-div:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

button {
    border: 1px solid #080029;
    background-color: #f67464;
    color: #080029;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
}

button:hover {
    background-color: #e26050;
}

label {
    margin-bottom: 8px;
}

.info-div {
    display: flex;
    align-items: center;
    gap: 8px; 
    margin-top: 10px;
}

.info-div p {
    margin: 0;
    font-size: 0.7em;
    color: lightgray;
}

form {
    margin-top: 10px;
    width: 350px;
}

.warning {
    display: none;
    color: red;
    gap: 8px;
    font-size: 0.7em;
}

.warning p {
    margin: 8px 0px;
}

.warning-photo {
    color: red;
}

.pattern-lines {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.pattern-squiggly-line-top {
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 1;
}

.pattern-squiggly-line-bottom-desktop {
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.pattern-circle {
    position: absolute;
    top: 45%;
    right: 25%;
    z-index: 1;
}

.ticket-div {
    background-image: url(assets/images/pattern-ticket.svg);
    padding: 20px;
    width: 560px;
    height: 240px;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 50px;
}

.congratulations {
    display: none;
}

.congratulations .avatar-img {
    border-radius: 10px;
    width: 100px;
}

.congratulations .github-icon {
    border-radius: 5px;
    width: 20px;
}

.user-info-div, .github-info-div {
    display: flex;
}

.github-info-div {
    gap: 10px;
}

.user-info-div {
    position: absolute;
    bottom: 20px;
}

.header-ticket-div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-ticket-div h2 {
    margin: 0;
    font-size: 2em;
    font-weight: bold;
}

.date {
    padding-left: 40px;
}

.header-ticket-div .mark-logo {
    width: 30px;
}

.congrats-all-data {
    padding: 10px 0 0 20px;
}

.ticket-number-div h3 {
    transform: rotate(90deg);
    position: absolute;
    right: 18px;
    top: 105px;
    font-size: 1.5em;
    color: gray;
}

.congrats-name {
    font-size: 2em;
    margin-top: 0;
}

.choose-file-input {
    display: none;
}